* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fundo {
    width: 80%;
    height: 800px;
    position: relative;
    margin: auto;
}

#camada1 {
    height: 50px;
    background-color: aquamarine;
    clear: left;
}

#camada2 {
    height: 700px;
    width: 15%;
    float: left;
    background-color: grey;
}

#camada3 {
    height: 700px;
    width: 70%;
    float: left;
    background-color: rgb(179, 179, 179);
}

#camada4 {
    height: 150px;
    width: 15%;
    float: left;
    background-color: white;
    border: 2px solid green;
}

#camada5 {
    height: 150px;
    width: 15%;
    float: left;
    background-color: white;
    border: 2px solid blue;

}

#camada6 {
    height: 400px;
    width: 15%;
    float: left;
    background-color: grey;
}

#camada7 {
    height: 50px;
    background-color: aquamarine;
    clear: left;
}

img {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 80%;
}